
/*Header*/
.w3-header-image{
    padding:35px 0px
}

.w3-header-hr {
    border: 3px solid #008a00;
    margin: 0 20px 0 20px;
}

/*Colors*/

.w3-win8-steel{
    color:#fff!important;background-color:#647687!important
}

.w3-win8-emerald{
    color:#fff!important;background-color:#008a00!important
}


/*Text*/

.w3-text-emerald{
    color:#008a00!important
}

.w3-text-container{
    max-width: 800px;
    margin: 0 auto;
}



/*Borders*/

/* Mobile Size*/

@media only screen and (max-width: 600px) {

    .w3-header-image
    {padding: 230px 0px;}

}