
/*Header*/
.w3-header-image{
    padding:35px 0px
}

.w3-header-hr {
    border: 3px solid #008a00;
    margin: 0 20px 0 20px;
}

/*Colors*/

.w3-win8-steel{
    color:#fff!important;background-color:#647687!important
}

.w3-win8-emerald{
    color:#fff!important;background-color:#008a00!important
}


/*Text*/

.w3-text-emerald{
    color:#008a00!important
}

.w3-text-container{
    max-width: 800px;
    margin: 0 auto;
}

.w3-text-margin-top {
    max-width: 800px;
    margin-top: 150px;
    margin-left: 80px;
}

/*Margins*/

.w3-container {
    max-width: 1500px;
    margin: 0 auto;
}

/*Borders*/

/* Mobile Size*/

@media only screen and (max-width: 600px) {

    .w3-header-image{
        padding: 230px 0px;
    }

    header h1{
        padding: 130px 0px 0px;
    }

    .w3-text-margin-top {
        margin-top: 30px;
    }

   

}

@media only screen and (max-width: 750px) {

    .w3-image-width {
        width: 100%;
    }

}